body, html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
}

#light-bulb{
    position: relative;
    width: 100px;
    height: 180px;
    background: url('../img/light_bulb-off.gif');
    cursor: pointer;
}

/**
*zmazanie tej druhej sprostej textarey
*/
body > main > form > div > div.note-editing-area > textarea{
    display: none;
}

#map{
    height: 300px;
    width: 650px;
}